@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>Welcome to Task Management System</h1>
<br />
<p>This is your task management application where you can manage your tasks effectively.</p>
<br/>
<br/>
<h2>Quick Links</h2>
<ul>
    <li><a asp-controller="Task" asp-action="Index">View Your Tasks</a></li>
    <li><a asp-controller="Task" asp-action="Create">Create New Tasks</a></li>
</ul>
<br/>
<br/>
<h2>Getting Started</h2>
<p>To start managing your tasks, click on "View Your Tasks" above.</p>